.bg-custom {
  background-image: url("./assets/Images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 1rem;
  border: 3px solid rgba(255, 255, 255, 0.5);
}


@tailwind base;
@tailwind components;
@tailwind utilities;
